<div class="container mt-2 bg-danger p-3 text-white" style="border-radius:30px;">
  <div class="container overflow-hidden mt-3">
    <div class="row gx-5">
      <div class="col-1">
        <label for="inputEmail4">No. Reserva</label>
      </div>
      <div class="col-5">
        <input type="text" class="form-control" id="inputReserva4">
      </div>
      <div class="col-1">
        <label for="inputEmail4">Fecha reserva</label>
      </div>
      <div class="col-5">
        <input type="date" class="form-control" id="inputFechareserva4">
      </div>
    </div>
    <div class="row gx-5">
      <div class="col-1">
        <label for="inputEmail4">Nombre </label>
      </div>
      <div class="col-5">
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-1">
        <label for="inputEmail4">Identificacion</label>
      </div>
      <div class="col-5">
        <input type="text" class="form-control" id="inputIdentl4">
      </div>
    </div>
    <div class="row gx-5">
      <div class="col-1">
        <label for="inputEmail4">Pasaporte</label>
      </div>
      <div class="col-5">
        <input type="text" class="form-control" id="inputPasaporte4">
      </div>
      <div class="col-1">
        <label for="inputEmail4">Clase</label>
      </div>
      <div class="col-5">
        <input type="text" class="form-control" id="inputClase4">
      </div>
    </div>
    <div class="row gx-5">
      <div class="col-1">
        <label for="inputEmail4">Origen</label>
      </div>
      <div class="col-5">
        <input type="text" class="form-control" id="inputOrigen4">
      </div>
      <div class="col-1">
        <label for="inputEmail4">Destino</label>
      </div>
      <div class="col-5">
        <input type="text" class="form-control" id="inputDestino4">
      </div>
    </div>

  </div>
  <button type="button" style="background-color:white"class="btn btn-default">Registrar</button>
</div> 
